doctype html
html(lang="en")
head

    // –– META
    meta(charset="utf-8")
    title(Cardboard/title)
    meta(name="description" content="")
    meta(name="author" content="")

    // –– FONTS
    link(href="http://fonts.googleapis.com/css?family=Roboto:400,600,800" rel="stylesheet")

    // –– CSS
    link(rel="stylesheet" href="juice-grid.css")
    link(rel="stylesheet" href="examples/example.css")

body

.grid-flex.with-gutters
    .row
        .col 
            span Add
        .col
            span Any
        .col
            span Amount

.grid.with-gutters
    .row
        .col-12 12 Columns
    .row
        .col-1 1 Columns
        .col-11 11 Columns
    .row
        .col-2 2 Columns
        .col-10 10 Columns
    .row
        .col-3 3 Columns
        .col-9 9 Columns
    .row
        .col-4 4 Columns
        .col-8 8 Columns
    .row
        .col-5 5 Columns
        .col-7 7 Columns
    .row
        .col-6 6 Columns
        .col-6 6 Columns
    .row
        .col-7 7 Columns
        .col-5 5 Columns
    .row
        .col-8 8 Columns
        .col-4 4 Columns
    .row
        .col-9 9 Columns
        .col-3 3 Columns
    .row
        .col-10 10 Columns
        .col-2 2 Columns
    .row
        .col-11.push-1 11 Columns pushing 1
