doctype html
html(lang="en")
head

    // –– META
    meta(charset="utf-8")
    title(Cardboard/title)
    meta(name="description" content="")
    meta(name="author" content="")

    // –– FONTS
    link(href="http://fonts.googleapis.com/css?family=Roboto:400,600,800" rel="stylesheet")

    // –– CSS
    link(rel="stylesheet" href="juice-grid.css")

body

.jb-grid.has-gutters
    .jb-row
        .jb-col-12 12 Columns
    .jb-row
        .jb-col-1 1 Columns
        .jb-col-11 11 Columns
    .jb-row
        .jb-col-2 2 Columns
        .jb-col-10 10 Columns
    .jb-row
        .jb-col-3 3 Columns
        .jb-col-9 9 Columns
    .jb-row
        .jb-col-4 4 Columns
        .jb-col-8 8 Columns
    .jb-row
        .jb-col-5 5 Columns
        .jb-col-7 7 Columns
    .jb-row
        .jb-col-6 6 Columns
        .jb-col-6 6 Columns
    .jb-row
        .jb-col-7 7 Columns
        .jb-col-5 5 Columns
    .jb-row
        .jb-col-8 8 Columns
        .jb-col-4 4 Columns
    .jb-row
        .jb-col-9 9 Columns
        .jb-col-3 3 Columns
    .jb-row
        .jb-col-10 10 Columns
        .jb-col-2 2 Columns
    .jb-row
        .jb-col-11.jb-push-1 11 Columns pushing 1
