.jb-grid {
  display: grid;
  margin: 0 auto; }
  .jb-grid.has-gutters {
    grid-gap: 15px; }

.jb-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px; }

.jb-push-1 {
  grid-column-start: 2; }

.jb-col-1 {
  grid-column-end: span 1; }

.jb-push-2 {
  grid-column-start: 3; }

.jb-col-2 {
  grid-column-end: span 2; }

.jb-push-3 {
  grid-column-start: 4; }

.jb-col-3 {
  grid-column-end: span 3; }

.jb-push-4 {
  grid-column-start: 5; }

.jb-col-4 {
  grid-column-end: span 4; }

.jb-push-5 {
  grid-column-start: 6; }

.jb-col-5 {
  grid-column-end: span 5; }

.jb-push-6 {
  grid-column-start: 7; }

.jb-col-6 {
  grid-column-end: span 6; }

.jb-push-7 {
  grid-column-start: 8; }

.jb-col-7 {
  grid-column-end: span 7; }

.jb-push-8 {
  grid-column-start: 9; }

.jb-col-8 {
  grid-column-end: span 8; }

.jb-push-9 {
  grid-column-start: 10; }

.jb-col-9 {
  grid-column-end: span 9; }

.jb-push-10 {
  grid-column-start: 11; }

.jb-col-10 {
  grid-column-end: span 10; }

.jb-push-11 {
  grid-column-start: 12; }

.jb-col-11 {
  grid-column-end: span 11; }

.jb-push-12 {
  grid-column-start: 13; }

.jb-col-12 {
  grid-column-end: span 12; }
