// –– GRID

$jb-grid_gutter: 15px;

.jb-grid {
    display: grid;
    margin: 0 auto;
    &.has-gutters { grid-gap: $jb-grid_gutter; }
}

.jb-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: $jb-grid_gutter;
}

@for $i from 1 through 12 {
    .jb-push-#{$i} { grid-column-start: #{$i + 1}; }
    .jb-col-#{$i} { grid-column-end: span #{$i}; }
}